<%- include('../partials/header.ejs',  {title: 'Carrito de compras', home: 0}) %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/offcanvas.ejs') %>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-auto">
                <h1>Carrito de compras <span class="">(<%= products.length %> elementos diferentes en tu carrito, <span id="totalItems">  </span> en total)</span></h1>
            </div>
        </div>
        <div class="personal">
            <%- include('../partials/breadcrumb.ejs', {breadcrumbList, urlList}) %> 
        </div>

        <div class="d-flex flex-row justify-content-around mt-3">
            <div class="col-11 producto-linea">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="d-flex justify-content-center col-2">
                        <h3 class="scHeader">Imagen</h3>
                    </div>
                    <div class="d-flex justify-content-center col-3">
                        <h3 class="scHeader">Nombre</h3>
                    </div>
                    <div class="d-flex justify-content-center col-2">
                        <h3 class="scHeader">Cantidad</h3>
                    </div>
                    <div class="d-flex justify-content-center col-1">
                        <h3 class="scHeader">Precio</h3>
                    </div>
                    <div class="d-flex justify-content-center col-1">
                        <h3 class="scHeader">Subtotal</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--productos-->
        <%- include('productoCarrito.ejs', {products}) %>
        <%- include('../partials/detalleProducto.ejs', {products}) %>
        <!--fin de producto-->

        <div class="d-flex flex-row justify-content-around mt-5">
            <div class="col-11 producto-linea">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="col-6">
                        <div class="d-flex flex-column justify-content-between">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="scHeader">
                                    Subtotal
                                </div>
                                <div class="priceBreakdown" id="subtotal">
                                    $4562
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="scHeader">
                                    Descuentos
                                </div>
                                <div class="priceBreakdown" id="descuentos">
                                    $150
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="scHeader">
                                    Envío
                                </div>
                                <div class="priceBreakdown" id="envio">
                                    $300
                                </div>
                            </div>
                            <br>
                            <div class="d-flex flex-row justify-content-between total">
                                <div class="scHeader">
                                    Total
                                </div>
                                <div class="priceBreakdown" id="total">
                                    $4562
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex flex-column justify-content-between align-items-center"> <!-- Agregar un botón si es necesario para añadir cupón -->
                            <div class="col">
                                <button type="submit" class="boton-estandar boton-flex">
                                    Proceder al pago
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/userToast.ejs') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/cart.js"></script>
</body>
<%- include('../partials/footer.ejs') %>