<% for(producto of products) { %>
<div
  class="modal fade"
  id="modal<%= producto.identifier %>"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-producto">
        <div class="modal-header border-0 down">
          <h5 class="titulo-producto-modal" id="staticBackdropLabel">
            <a href="/product/<%= producto.id %>"><%= producto.name %></a>
          </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body upper">
            <div class="col">
              <% for( let index = 0; index < 5; index++ ) { %>
                <% if (index < producto.rating) { %>
                  <span class="fa fa-star checked"></span>    
                <% } else { %>  
                  <span class="fa fa-star unchecked"></span>
                <% } %> 
              <% } %>
            </div>
            <div class="col descriptionModal">
              <p>Productos vendidos: <%= producto.vendidos %></p>
            </div>
        </div>

      <%- include("carousel.ejs", {images: producto.carouselImages, identifier: producto.identifier}) %>

      <div class="modal-footer border-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-auto">
              <div class="precio-producto">$<%= producto.price %></div>
            </div>
            <div class="col">
              <% for (categoria of producto.categories) { %>
              <button class="boton etiqueta-producto">
                <div><%= categoria %></div>
              </button>
              <% } %>
            </div>
            <div class="col-auto">
              <a href="/cart/add/<%= producto.id %>">
                <i class="carrito-producto-modal fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-auto">
              <p class="descriptionModal"> <%= producto.longDescription %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
