<% for (producto of products) { %>
<div class="row justify-content-center mt-3">
  <div class="col-11 producto-linea">
    <div class="row">
      <div class="col-3 pt-2 pb-2">
        <button class="boton-flex boton-producto boton-vacio">
          <img src="img/<%= producto.image %>" alt="atc-escalada" />
        </button>
      </div>
      <div class="col">
        <div class="row">
          <div class="col p-0">
            <button
              class="boton-flex boton-vacio p-0"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modal<%= producto.identifier %>"
            >
              <div class="titulo-producto p-1"><%= producto.name %></div>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-3 p-0">
            <button class="boton-flex boton-vacio p-0">
              <div class="precio-producto">$<%= producto.price %></div>
            </button>
          </div>
          <div class="col-6 p-0">
            <% for (categoria of producto.categories) { %>
            <button class="boton etiqueta-producto">
              <div><%= categoria %></div>
            </button>
            <% } %>
          </div>
          <div class="col-1 pt-2">
            <button class="boton boton-vacio">
              <i class="carrito-producto fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-9 p-0">
            <p class="description p-2"> <%= producto.shortDescription %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
