<% for (order of orders) { %>
<div class="row justify-content-center mt-3">
  <div class="col-sm-11 producto-linea">
    <div class="row">
      <div class="d-flex flex-column justify-content-center col-sm-3 pt-2 pb-2">
        <img
          src="/img/products/<%= order.image %>"
          alt="<%= order.identifier %>"
        />
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6 p-2">
            <div class="titulo-producto m-0" style="font-weight: bold;"><%= order.name %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 p-2">
            <p class="description" style="margin-left: 0px;"><em><%= order.status %></em></p>
          </div>
          <div class="offset-md-5 col-sm-4">
            <div class="precio-producto">$<%= order.total %></div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-8 p-2">
              <p class="description" style="margin-left: 0px; text-align: justify;"><%= order.shortDescription %></p>
            </div>
            <% if (order.trackId) { %>
                <div class="col-sm-3 p-2">
                    <p class="description" style="margin-left: 0px; font-weight: bold; text-align: center;">ID de seguimiento: <%= order.trackId %></p>
                </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <% if (orders.length == 0) { %>
<div class="row justify-content-center mt-3">
  <h2 style="text-align: center">
    No tienes ninguna orden realizada hasta el momento
  </h2>
</div>
<% } %>
