<%- include('../partials/header.ejs', {title: 'Detalle de productos', home: 0}) %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/offcanvas.ejs') %>
	<!-- product detail -->
	<br><br>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="tc">Detalle del producto <i><%= product.name %></i></h1>
			</div>
		</div>
		<div class="pushLeft">
			<%- include('../partials/breadcrumb.ejs', {breadcrumbList, urlList}) %> 
		</div>
		<br>
		<div class="row">
			<div class="col-12 col-lg-8 col-md-7">
				<%- include("../partials/carousel.ejs", {images: product.carouselImages, identifier: product.identifier}) %>
				<h2>Descripción</h2>
				<p class="descripcion">
					<%= product.longDescription %>
				</p>
				<h2>Características</h2>
				<ul class="descripcion">
					<% for(elemento of product.characteristics) { %>
					  <li> <%= elemento %> </li>
					<% } %>
				  </ul>
			</div>
			<div class="col-12 col-lg-4 col-md-5">
				<article class="product-detail-info">
					<h2 class="product-detail-title"><%= product.name %></h2>
					<div class="col">
						<% for( let index = 0; index < 5; index++ ) { %>
						  <% if (index < product.rating) { %>
							<span class="fa fa-star checked"></span>    
						  <% } else { %>  
							<span class="fa fa-star unchecked2"></span>
						  <% } %> 
						<% } %>
					  </div>
					<div class="col descSide">
						<p>Productos vendidos: <%= product.vendidos %></p>
					</div>

					<div class="col up">
						<% for (categoria of product.categories) { %>
						<button class="boton etiqueta-producto">
						  <div><%= categoria.name %></div>
						</button>
						<% } %>
					</div>

					<p class="product-detail-price small precio-producto">
						$<%= product.price %>
					</p>

					<p class="descSide">
						<%= product.shortDescription %>
					</p>

					<div class="d-flex flex-row justify-content-around">
						<div class="col-5">
							<a type="button" class="boton-estandar boton-flex anchorFormat" href="/cart/add/<%= product.id %>">Añadir al carrito</a>
						</div>
						<% if (locals.isLogged) { %>
							<div class="col-5">
								<!-- Default dropright button -->
								<div class="btn-group dropright">
									<button type="button" class="boton-estandar anchorFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #0dcaf0; border-color: #0dcaf0;">
										Agregar a una lista
									</button>
									<div class="dropdown-menu">
										<h6 class="dropdown-header">Listas disponibles</h6>
										<ul>
											<% for(item of wishLists) { %>
												<li><a href='/wishlist/add/<%= product.id %>?wishlist=<%= item.identifier %>'><%= item.name %></a></li>
											<% } %>
										</ul>
										<div class="dropdown-divider"></div>
										<a style="padding-left: 10%;" href="#" data-toggle="modal" data-target="#addWishlistModal">Crear nueva</a>
									</div>
								</div>
							</div>
						<% } %>
					</div>

					<% if (locals.isLogged && locals.userLogged.rol == 'administrador') { %>
						<hr>
						<div class="d-flex flex-row justify-content-around">
							<div class="col-5">
								<a href="/product/edit/<%= product.id %>" type="submit" class="boton-estandar anchorFormat editButton">Editar producto</a>
							</div>
							<div class="col-5">
								<!-- Button trigger modal -->
								<button type="button" class="boton-estandar anchorFormat deleteButton" data-toggle="modal" data-target="#confirmationModal">Eliminar</button>
							</div>
						</div>
					<% } %>
				</article>
			</div>
		</div>
		<%- include('../partials/userToast.ejs') %>
	</div>
	<%- include('../partials/wishlistModal.ejs') %> 
	<%- include('../partials/confirmationModal.ejs', {elemento: 'product', id: product.id}) %> 
	<!-- /product detail -->
	<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/js/productDetail.js"></script>
</body>
<%- include('../partials/footer.ejs') %>