<%- include('../partials/header.ejs', {title: 'Productos para montaña', home: 0}) %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/offcanvas.ejs') %>
    <!--Bloque presentacion-->
    <br><br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="tc">Página de productos</h1>
        </div>
        <div class="col-3">
          <% if (locals.isLogged && locals.userLogged.rol == 'administrador') { %>
            <a href="/product/create" type="submit" class="boton-estandar anchorFormat editButton">Crear producto</a>
          <% } %>
        </div>
      </div>
      <!--productos-->
      <%- include('../partials/producto.ejs', {products}) %>
      <!--Modal detalle del producto-->
      <%- include('../partials/detalleProducto.ejs', {products}) %>
      <!--fin del modal-->
      <!--fin de producto-->
      <%- include('../partials/userToast.ejs') %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/toast.js"></script>
  </body>
<%- include('../partials/footer.ejs') %>