<%- include('partials/header.ejs', {title: 'Sobre nosotros', home: 0}) %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/offcanvas.ejs') %>

    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-xs-12 left-text-pad">
                    <div class="aboutus">
                        <h2 class="aboutus-title">¿Quienes somos?</h2>
                        <div class="pushLeft">
                            <%- include('partials/breadcrumb.ejs', {breadcrumbList, urlList}) %> 
                        </div>
                        <p class="aboutus-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officiis praesentium ea, id cumque esse hic quibusdam quod dolores sed. Dicta ipsa, aliquid odio temporibus cupiditate in quidem quia nemo.</p>
                        <p class="aboutus-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officiis praesentium ea, id cumque esse hic quibusdam quod dolores sed. Dicta ipsa, aliquid odio temporibus cupiditate in quidem quia nemo.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center col-xl-3 col-lg-3 col-md-6 col-xs-12 imgPad">
                    <div class="aboutus-banner">
                        <img src="img/users/default.png" alt="Team picture">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12 right-text-pad">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <i class="fas fa-cog icon"></i>
                                </div>
                                <div class="feature-content">
                                    <h4>Trabajando con el corazón</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officiis praesentium ea, id cumque esse hic quibusdam quod dolores sed. Dicta ipsa, aliquid odio temporibus cupiditate in quidem quia nemo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <i class="fas fa-cog icon"></i>
                                </div>
                                <div class="feature-content">
                                    <h4>Servicios confiables</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officiis praesentium ea, id cumque esse hic quibusdam quod dolores sed. Dicta ipsa, aliquid odio temporibus cupiditate in quidem quia nemo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <i class="fas fa-cog icon"></i>
                                </div>
                                <div class="feature-content">
                                    <h4>Gran apoyo</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officiis praesentium ea, id cumque esse hic quibusdam quod dolores sed. Dicta ipsa, aliquid odio temporibus cupiditate in quidem quia nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"
></script>
</body>
<%- include('partials/footer.ejs') %>