<%- include('partials/header.ejs',  {title: 'Carrito de compras', home: 0}) %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/offcanvas.ejs') %>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-auto">
                <h1>Carrito</h1>
            </div>
        </div>
        <!--productos-->
        <%- include('partials/productoCarrito.ejs', {products}) %>
        <%- include('partials/detalleProducto.ejs', {products}) %>
        <!--fin de producto-->

        <br><br><br><br><br> <!-- Think of better implementation -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
<%- include('partials/footer.ejs') %>